/*
** Styles used in the jQuery Essential Training course materials
*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    margin: 0;
    line-height: 1.2em;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#panel {
  width: 80%;
  margin: 0 auto 100px auto;
  text-align: center;
  overflow: hidden;
}


.stack {
  position: relative;
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.image-container {
  position: absolute;
  z-index: 2;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.image-container img {
  display: block;
  margin: 0 auto;
  padding-top:100px;
}

.hidden {
  position: absolute;
  max-width: 47%;
  z-index: 1;
  padding-top:120px;
}

p {
  font-size: 25pt;
  line-height: 1.35;
  letter-spacing: 1px;
  color: #B8B8B8;
}


h2 {
  margin-bottom: 20px;
}
